@layer base {
  :root:root {
    --van-primary-color: var(--color-primary);
    --van-danger-color: theme('colors.red.500');
    --van-text-color: var(--color-dark);
    --van-text-color-2: var(--color-medium);

    --van-field-label-color: var(--color-dark);
    --van-field-error-message-color: theme('colors.red.500');

    --van-tabbar-item-active-color: var(--color-primary);

    --van-button-primary-background: linear-gradient(
      to bottom,
      #31c19c,
      #50e0b3
    ) !important;
    --van-button-primary-border-color: var(--color-primary);
    --van-button-mini-height: theme('spacing.5');
    --van-button-default-height: theme('spacing.10');
    --van-button-normal-padding: 0 theme('spacing.5');
    --van-button-small-padding: 0 theme('spacing.4');

    --van-checkbox-checked-icon-color: var(--color-primary);
    --van-checkbox-label-color: var(--color-dark);
  }
}

.van-button--primary {
  @apply bg-[image:--van-button-primary-background];
}
